@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.articleLayout {
  background-color: $green;
  padding-bottom: $single;
  padding-top: $half;
}

.articleContainer,
.imageContainer,
.content {
  margin-left: auto;
  margin-right: auto;
}

.articleContainer,
.imageContainer,
.image {
  @include border-radius($half);
}

.articleContainer {
  background-color: $creamyWhite;
  color: $green;
}

.imageContainer {
  height: 256px;
  position: relative;
}

.image {
  object-fit: contain;
  object-position: 50% 50%;
}

.content {
  padding: $single;
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {
  .articleLayout {
    padding-bottom: $double;
    padding-top: initial;
  }

  .articleContainer {
    max-width: $width-max-article-layout;
  }

  .content {
    max-width: $width-max-article;
  }

  .imageContainer {
    height: 512px;
    width: 720px;
  }
}
