@import "breakpoints";
@import "variables";

.container {
  margin: 0 auto;
  width: 100%;
}

.active {
  color: $yellow;
}

.bg-green {
  background-color: $green;
  color: $creamyWhite;
}

.color-green {
  color: $green;
}

.bg-creamyWhite {
  background-color: $creamyWhite;
  color: $green;
}

.color-creamyWhite {
  color: $creamyWhite;
}

.bg-blue {
  background-color: $blue;
}

.color-blue {
  color: $blue;
}

.bg-yellow {
  background-color: $yellow;
}

.color-yellow {
  color: $yellow;
}

.bg-pink {
  background-color: $pink;
}

.color-pink {
  color: $pink;
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {
  .container {
    max-width: $container-desktop;
  }
}
