/* VARIABLES */
// Colors
$green: #0e331c;
$creamyWhite: #e4dfc1;
$blue: #004a4f;
$yellow: #debb45;
$pink: #fad9e3;
$white: #ffffff;
$black: #1d1d1b;

// Spacing
$half: 0.5rem;
$single: 1rem;
$double: 2rem;
$triple: 3rem;
$quadruple: 4rem;
$quintuple: 5rem;


