@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.header {
  @include display-flex;
  @include flex-direction(column);
  min-height: 80px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: $green;
}

.topMenuWrapper {
  background-color: $creamyWhite;
  width: 100%;
}

.topMenu {
  padding: $single;
  @include display-flex;
  @include flex-direction(row);
  align-items: center;
  border-bottom: 1px solid;
  border-color: $green;
}

.logo {
  position: relative;
  width: 130px;
  height: 50px;
}

.calender {
  margin-left: auto;
  color: $blue;

  &:focus,
  &:hover {
    color: $yellow;
    text-decoration: underline;
    font-weight: 900;
    text-underline-offset: $half;
  }
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {
  .header {
    position: relative;
    max-height: 999px;
    justify-content: space-evenly;
  }

  .topMenu {
    gap: 100px;
    border-color: $creamyWhite;
    padding: $single $single 0rem 0rem;
    width: 100%;
  }

  .logo {
    height: 70px;
  }

  .slogan {
    margin-bottom: initial;
  }

  .calender {
    color: $yellow;
  }

  .primaryMenu {
    border-bottom: 1px solid;
    border-color: transparent;
    width: 100%;
    position: sticky;
    z-index: 50;
    top: 0;
    background-color: transparent;

    .link {
      color: $yellow;
    }
  }

  .primaryMenu.active {
    background-color: $green;
    border-color: $green;
    

    .link {
       color: $creamyWhite;
    }
  }


  .wrapper {
    @include display-flex;
    @include flex-direction(row);
    justify-content: flex-start;
    align-items: center;
    gap: $double;
    padding: 0 $single;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }

  .linkWrapper {
    list-style-type: none;
    padding-top: $single;
    padding-bottom: $single;
  }

  .link {
    font-size: $double;

    &:focus,
    &:hover {
      cursor: pointer;
      color: $yellow;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
  }
}
