@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";

.imageContainer {
  position: relative;
  width: 100%;
  height: 360px;
}

.body {
  padding: $single;
}

.buttonWrapper {
  padding-top: $single;
  padding-bottom: $double;
}

@media (width >= $container-desktop) {
  .imageContainer {
    width: 1440px;
    height: 720px;
  }

  .image {
    @include border-radius($single);
  }

  .body {
    @include border-radius($single);
    position: absolute;
    max-height: 625px;
    max-width: calc($container-desktop / 3);
    top: 30%;
    left: 10%;
  }
}
